---
import Layout from "../layouts/Layout.astro";
import Burgermenu from "../components/Burgermenu.astro";
import Slider from "../components/Slider.astro";
import Testimonials from "../components/Testimonials.astro";
import Footer from "../components/Footer.astro";
import NavUTF from "../components/Nav-UTF.astro";
import Newsletter from "../components/Newsletter.astro";
import Contactform from "../components/Contactform.astro";
---

<Layout title="Caveman Studio">
  <Burgermenu />
  <section class="frontpage">
    <div class="frontpagecontent">
      <img src="logo.svg" class="logo" />
      <h1>CAVEMAN STUDIO</h1>
      <h2 class="keywords">raw analog organic</h2>
    </div>
    <NavUTF />
  </section>
  <section class="recentprojects">
    <h2 class="recentprojectstitle">Recent projects</h2>
    <Slider />
    <center>
      <iframe class="spotifyplaylist" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1E4xGMxzRKGeCj?utm_source=generator&theme=0" width="75%" height="500" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </center>
  </section>
  <section class="testimonials">
    <Testimonials />
  </section>
  <Newsletter />
  <Contactform />
  <Footer />
</Layout>
