---
import Layout from "../layouts/Layout.astro";
import Burgermenu from "../components/Burgermenu.astro";
import Slider from "../components/Slider.astro";
import Testimonials from "../components/Testimonials.astro";
import Footer from "../components/Footer.astro";
import NavUTF from "../components/Nav-UTF.astro";
import Newsletter from "../components/Newsletter.astro";
import Contactform from "../components/Contactform.astro";
import Thestudio from "../components/Thestudio.astro";
import Aboutlucas from "../components/Aboutlucas.astro";
import Scroll from "../components/Scroll.astro";

const data = await fetch("https://rlorrsagultuatdyhvhu.supabase.co/rest/v1/Albums", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJsb3Jyc2FndWx0dWF0ZHlodmh1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyODc3ODYsImV4cCI6MjAzMTg2Mzc4Nn0.CvkZ1QH0hJYE5KmLRdBhGr7F__KopLbjDVRkV8lk3gs",
  },
}).then((res) => res.json());
---

<Layout title="Caveman Studio">
  <a class="letstalklink" href="/letstalk.html">LET'S TALK!</a>
  <Burgermenu />
  <section class="frontpage">
    <div class="frontpagecontent">
      <a href="index.html">
        <img src="logo.svg" class="logo" />
        <h1>CAVEMAN STUDIO</h1>
      </a>
      <h2 class="keywords">
        <span class="raw">raw</span>
        <span class="analog"> analog </span>
        <span class="organic"> organic </span>
      </h2>
    </div>
    <Scroll />
  </section>
  <div class="circleflex">
    <div class="circleleft"></div>
    <div class="circleright"></div>
  </div>
  <section class="recentprojects">
    <div id="target-section"></div>
    <h2 class="recentprojectstitle">Recent projects</h2>
    <Slider />
    <center>
      <iframe class="spotifyplaylist" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3Uln3VaLIA1LP0FmWMdKl8?utm_source=generator&theme=0" width="75%" height="400" frameborder="0" loading="lazy"></iframe>
    </center>
  </section>
  <div class="circleflex">
    <div class="circleleft2"></div>
    <div class="circleright2"></div>
  </div>
  <Testimonials />
  <div class="circleflex">
    <div class="circleleft"></div>
    <div class="circleright"></div>
  </div>
  <Thestudio link="/thestudio" />
  <div class="circleflex">
    <div class="circleleft2"></div>
    <div class="circleright2"></div>
  </div>
  <Newsletter />
  <div class="circleflex">
    <div class="circleleft"></div>
    <div class="circleright"></div>
  </div>
  <Aboutlucas link="/aboutlucas" />
  <div class="circleflex">
    <div class="circleleft2"></div>
    <div class="circleright2"></div>
  </div>
  <Contactform />
  <Footer />
</Layout>
