---
import Layout from "../layouts/Layout.astro";
import Burgermenu from "../components/Burgermenu.astro";
---

<Layout title="Caveman Studio">
  <Burgermenu />
  <section class="frontpage">
    <div class="frontpagecontent">
      <img src="logo.svg" class="logo" />
      <h1>CAVEMAN STUDIO</h1>
      <h2 class="keywords">raw analog organic</h2>
    </div>
  </section>
  <section class="recentprojects">
    <center>
      <iframe class="spotifyplaylist" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1E4xGMxzRKGeCj?utm_source=generator&theme=0" width="75%" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </center>
  </section>
</Layout>
