---
import Layout from "../layouts/Layout.astro";
import Burgermenu from "../components/Burgermenu.astro";
---

<Layout title="Caveman Studio">
  <Burgermenu />
  <section class="frontpage">
    <div class="frontpagecontent">
      <img src="logo.svg" class="logo" />
      <h1>CAVEMAN STUDIO</h1>
      <h2 class="keywords">raw analog organic</h2>
    </div>
  </section>
</Layout>
