---
import "../subpages.css";
import Layout from "../layouts/Layout.astro";
import Subpagemenu from "../components/Subpagemenu.astro";
import Contactcard from "../components/Contactcard.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="The Studio">
  <Subpagemenu />
  <section class="subpage">
    <div class="backbutton">
      <a class="back" href="javascript:history.back()"><center>&lt; BACK</center></a>
    </div>
    <h1 class="subpageheader">The Studio</h1>
    <p class="subpagesubtext">Caveman Studio is run by <a href="/aboutlucas.html">Lucas Delacroix</a> in a cozy, underground bunker in Copenhagen. This intimate setup is ideal for diving intro the creative process of producing, mixing and mastering.</p>
    <div class="video">
      <center><iframe width="100%" height="auto" src="https://www.youtube.com/embed/d9FYD1qtSl4?si=Qa47bdjnOJKmG_ze" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></center>
    </div>
    <div class="subpagegrid_1_1">
      <div class="grid_1_1">
        <h2 class="subpageh2">WHAT CAN YOU HELP ME WITH?</h2>
        <p>I can help you bring to life, that idea of a song you once had, but never got to creating. I enjoy creating sonic landscapes with organic sounding guitars, banjos, mellotron arrangements, and whatever instrument I can get my hands on.</p>
        <h2 class="subpageh2">WHAT CAN I HIRE YOU FOR?</h2>
        <ul><li>Producing</li><li>Mixing</li><li>Recording instruments on your tracks</li></ul>
        <h2 class="subpageh2">DO WE NEED TO BE IN THE SAME LOCATION?</h2>
        <p>I work both remotely and face-to-face, so there is no need for you to be in Copenhagen, for us to be able to work together.</p>
      </div>
      <div class="grid_1_1">
        <Contactcard link="/letstalk" />
      </div>
    </div>
    <div class="imagegrid">
      <div class="taperecorder">
        <img src="/taperecorder.jpg" />
        <p>Revox tape machine guarded by Dwight</p>
      </div>
      <div class="computer">
        <img src="/computer.jpg" />
        <p>The studio is running Ableton</p>
      </div>
      <div class="songwritingsession">
        <img src="/songwritingsession.jpg" />
        <p>Songwriting-session with artist</p>
      </div>
      <div class="mixing">
        <img src="/mixing.jpg" />
        <p>Lucas mixing a song</p>
      </div>
      <div class="guitarrig">
        <img src="/guitarrig.jpg" />
        <p>One of the studio's many guitars</p>
      </div>
    </div>
  </section>
  <Footer />
</Layout>
