---
import Button from "./Button.astro";
---

<section class="aboutlucas">
  <div class="aboutlucasgrid">
    <div class="gridleft">
      <img class="aboutlucasimage" src="/lucas.jpg" alt="aboutlucas" />
    </div>
    <div class="gridright">
      <h2>ABOUT LUCAS</h2>
      <p>My name is Lucas Delacroix. I was born in Buenos Aires, Argentina in 1991, and moved to Copenhagen in 2019. <br /> Music has been a huge part of my life since I can remember. I started playing guitar when I was ten years old, and have never stopped playing.</p>
      <Button variant="secondary"><a href="/aboutlucas.html">READ MORE</a></Button>
    </div>
  </div>
</section>

<style>
  .aboutlucas {
    padding: 5rem 2rem;
  }

  .aboutlucasgrid {
    max-width: 500px;
    margin: 0 auto;
  }

  p {
    color: var(--secondary);
    font-size: 1.2rem;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .aboutlucasgrid img {
    width: 100%;
  }

  .gridright {
    margin-top: 2rem;
  }

  @media only screen and (min-width: 880px) {
    .aboutlucasgrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      max-width: 800px;
      margin: 0 auto;
    }

    .gridright {
      margin: auto 0;
    }

    .gridleft {
      margin: auto 0;
    }
  }
</style>
