---

---

<div class="circle">
  <button id="backToTopBtn" title="Go to top"></button>
</div>

<script>
  // CHAT GPT
  // Get the button
  let mybutton = document.getElementById("backToTopBtn");

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document smoothly
  mybutton.onclick = function () {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  };
</script>

<style>
  .circle {
    background-color: var(--primary);
    width: 60px;
    height: 60px;
    border-radius: 60%;
    position: relative;
    margin-top: 3rem;
  }
  #backToTopBtn {
    display: none; /* Hidden by default */
    background-color: var(--primary);
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    width: 20px;
    height: 20px;
    border: none;
    border-bottom: 3px solid var(--secondary);
    border-right: 3px solid var(--secondary);
    transform: rotate(225deg);
    position: absolute;
    top: 40%;
    left: 33%;
  }
</style>
