<div class="container">
  <div class="toggle-btn" id="toggle-btn">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

  <div id="sidebar">
    <ul>
      <li><a href="/thestudio.html">The studio</a></li>
      <li><a href="/aboutlucas.html">About Lucas</a></li>
      <li><a href="/letstalk.html">Let's talk</a></li>
    </ul>
  </div>

  <script>
    const sidebar = document.getElementById("sidebar");
    const toggleBtn = document.getElementById("toggle-btn");

    toggleBtn.addEventListener("click", function (event) {
      event.stopPropagation();
      sidebar.classList.toggle("active");
      toggleBtn.classList.toggle("active");
    });
  </script>

  <style>
    .container {
      position: relative;
    }

    #sidebar {
      position: absolute;
      width: 300px;
      height: 100vh;
      background: var(--secondary);
      right: -300px;
      top: 0;
      transition: right 0.4s;
      z-index: 1;
    }

    #sidebar.active {
      right: 0;
    }

    #sidebar ul li {
      list-style: none;
      color: var(--primary);
      padding: 1rem;
      margin-top: 1.1rem;
      letter-spacing: 0.2rem;
    }

    #sidebar ul li a {
      text-decoration: none;
      text-transform: uppercase;
      color: var(--primary);
    }

    .toggle-btn {
      position: absolute; /* Absolute positioning for the toggle button */
      top: 30px;
      right: 30px; /* Adjust the right position as needed */
      cursor: pointer;
      z-index: 2; /* Higher z-index to ensure it stays on top */
    }

    .toggle-btn span {
      width: 40px;
      height: 2px;
      background: var(--primary);
      display: block;
      margin: 8px auto;
      transition: all 0.3s ease-in-out;
    }

    /* Styles for when the toggle button is active */
    .toggle-btn.active .bar:nth-child(1) {
      transform: rotate(45deg) translate(7px, 7px);
    }

    .toggle-btn.active .bar:nth-child(2) {
      opacity: 0;
    }

    .toggle-btn.active .bar:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  </style>
</div>
