---
import Button from "./Button.astro";
---

<div class="card">
  <img src="contactcardimage.webp" alt="Billede" />
  <div class="info">
    <h2>Wanna meet up?</h2>
    <p>I would love to listen to your songs! If you are interested in working with me please write me an email.</p>
    <br />
    <p>Looking forward to hearing from you.</p>
    <Button variant="secondary"><a href="letstalk.html">LET'S TALK</a></Button>
  </div>
</div>

<style>
  .card {
    background: #ea8d55;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 3rem auto;
    text-align: center;
  }
  .info {
    padding: 20px;
  }
  .card img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: auto;
  }
  .card h2 {
    margin: 5px 0 15px 0;
    font-size: 24px;
  }
  .card p {
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
    color: #1e1e1e;
    text-align: left;
  }
  .card button {
    background-color: #1e1e1e;
    color: white;
    padding: 10px 70px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  .card button:hover {
    background-color: #2a2a2a;
  }

  a {
    text-decoration: none;
    color: var(--accent1);
  }
</style>
