---
import Button from "./Button.astro";
---

<section class="newsletter">
  <h2>FRIENDS?</h2>
  <p>
    Sign up to my newsletter to get info about projects and new releases. Don’t worry, no spam :)
  </p>
  <form id="newsletter" name="Newsletter sign-up" data-netlify="true" method="post">
    <div class="forminputs">
      <input type="text" id="name" name="name" placeholder="Name" required />
      <input type="email" id="email" name="email" placeholder="Email" required />
    </div>
    <div class="formbutton">
      <Button class="signupbutton" type="submit" variant="primary">SIGN UP!</Button>
    </div>
  </form>
</section>

<script></script>

<style>
  .newsletter {
    background-image: url(/backgroundtexture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
    text-align: center;
    min-height: 500px;
  }

  h2 {
    color: var(--primary);
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 2rem;
  }

  form {
    border: 2px solid var(--primary);
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2rem;
    max-width: 1000px;
  }

  input {
    background: none;
    border: none;
    border-bottom: 1px solid var(--primary);
    color: #fff;
    margin: 3rem 3rem 1rem 3rem;
    font-size: 1.1rem;
  }

  @media only screen and (min-width: 880px) {
    .newsletter {
      height: 400px;
    }
  }
</style>
