---
import AlbumCard from "../components/AlbumCard.astro";

const data = await fetch("https://rlorrsagultuatdyhvhu.supabase.co/rest/v1/Albums", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJsb3Jyc2FndWx0dWF0ZHlodmh1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyODc3ODYsImV4cCI6MjAzMTg2Mzc4Nn0.CvkZ1QH0hJYE5KmLRdBhGr7F__KopLbjDVRkV8lk3gs",
  },
}).then((res) => res.json());

console.log(data);
---

<div class="slider-wrap" id="slider-wrap">
  <div class="slider" id="slider">
    {
      data.map((artwork) => {
        return <AlbumCard data={artwork} />;
      })
    }
  </div>
</div>

<script>
  const sliderWrap = document.getElementById("slider-wrap");
  let isDown = false;
  let startX;
  let scrollLeft;

  sliderWrap.addEventListener("mousedown", (e) => {
    isDown = true;
    sliderWrap.classList.add("active");
    startX = e.pageX - sliderWrap.offsetLeft;
    scrollLeft = sliderWrap.scrollLeft;
  });

  sliderWrap.addEventListener("mouseleave", () => {
    isDown = false;
    sliderWrap.classList.remove("active");
  });

  sliderWrap.addEventListener("mouseup", () => {
    isDown = false;
    sliderWrap.classList.remove("active");
  });

  sliderWrap.addEventListener("mousemove", (e) => {
    if (!isDown) return;
    e.preventDefault();
    const x = e.pageX - sliderWrap.offsetLeft;
    const walk = (x - startX) * 3; // scroll-fast
    sliderWrap.scrollLeft = scrollLeft - walk;
  });

  // Prevent default image dragging behavior
  const images = document.querySelectorAll(".slider img");
  images.forEach((img) => {
    img.addEventListener("mousedown", (e) => {
      e.preventDefault();
    });
  });
</script>

<style>
  .slider-wrap {
    overflow-x: scroll;
    margin-top: 3rem;
    margin-left: 1rem;
    cursor: grab;
  }

  .slider {
    width: fit-content;
    display: flex;
    cursor: move;
  }

  .slider-item {
    overflow: hidden;
    margin-right: 30px;
  }

  .img-div {
    width: 250px;
    height: 250px;
  }

  .slider-wrap:active {
    cursor: grabbing;
  }
</style>
