---

---

<section class="thestudio">
  <div class="thestudiogrid">
    <div class="gridleft">
      <img src="tidemand.jpg" alt="thestudio" />
    </div>
    <div class="gridright">
      <h2>THE STUDIO</h2>
      <p>The studio is located in an old war bungalow in the outskirts of Frederiksberg etc.</p>
      <button>READ MORE</button>
    </div>
  </div>
</section>

<style>
  .thestudio {
    background-color: var(--primary);
    padding: 5rem 2rem;
  }

  .thestudiogrid {
    max-width: 500px;
    margin: 0 auto;
  }

  .thestudiogrid img {
    width: 100%;
  }

  @media only screen and (min-width: 880px) {
    .thestudiogrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      max-width: 800px;
      margin: 0 auto;
    }
  }
</style>
