---
import Button from "./Button.astro";
---

<section class="thestudio">
  <div class="thestudiogrid">
    <div class="gridleft">
      <img src="/tidemand.jpg" alt="thestudio" />
    </div>
    <div class="gridright">
      <h2>THE STUDIO</h2>
      <p>Caveman Studio is located in a cozy, underground bunker in Copenhagen. This intimate setup is ideal for diving intro the creative process.</p>
      <Button variant="secondary"><a href="/thestudio.html">READ MORE</a></Button>
    </div>
  </div>
</section>

<style>
  .thestudio {
    padding: 5rem 2rem;
  }

  .thestudiogrid {
    max-width: 500px;
    margin: 0 auto;
  }

  .thestudiogrid img {
    width: 100%;
  }

  p {
    color: var(--secondary);
    font-size: 1.2rem;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .gridright {
    margin-top: 2rem;
  }

  @media only screen and (min-width: 880px) {
    .thestudiogrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      max-width: 800px;
      margin: 0 auto;
    }

    .gridright {
      margin: auto 0;
    }
  }
</style>
