* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

#wrapper {
  overflow-x: hidden;
  position: relative;
}

:root {
  --primary: #ea8d55;
  --secondary: #1e1e1e;
  --accent1: #ffffff;
}

p {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: var(--accent1);
  line-height: 1.7rem;
  letter-spacing: 0.05rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "pulpo-rust-100", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  color: var(--secondary);
}

a {
  font-family: "Helvetica Neue";
}

body {
  background: rgb(234, 141, 85);
  background: linear-gradient(180deg, rgba(234, 141, 85, 1) 53%, rgba(213, 109, 72, 1) 100%);
  background-attachment: fixed;
}

.frontpage {
  max-width: 100%;
  height: 900px;
  background-image: url("heroimage-cleaned.jpg");
  background-size: cover;
}

.frontpagecontent {
  padding-top: 185px;
  scale: calc(70%);
  z-index: 0;
}

.frontpagecontent a {
  text-decoration: none;
}

.letstalklink {
  position: absolute;
  left: 30px;
  top: 35px;
  color: var(--primary);
  text-decoration: none;
  letter-spacing: 0.3rem;
  cursor: pointer;
  z-index: 0;
}

@keyframes rawfadeInSlideIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes analogfadeInSlideIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes organicfadeInSlideIn {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.raw {
  opacity: 0;
  display: inline-block;
  animation: rawfadeInSlideIn 1s ease-in-out forwards;
}

.analog {
  opacity: 0;
  display: inline-block;
  animation: analogfadeInSlideIn 1s ease-in-out forwards;
}

.organic {
  opacity: 0;
  display: inline-block;
  animation: organicfadeInSlideIn 1s ease-in-out forwards;
}

.logo {
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: var(--primary);
}

h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.keywords {
  font-family: "Helvetica Neue", sans-serif;
  color: var(--primary);
  font-weight: 200;
  font-size: 1.5rem;
  text-align: center;
  text-transform: lowercase;
}

.recentprojects {
  max-width: 100%;
}

.recentprojectstitle {
  margin: 5rem 1rem 0 1rem;
  text-align: center;
}

.spotifyplaylist {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#target-section {
  display: flex;
}

@media only screen and (min-width: 880px) {
  .frontpagecontent {
    scale: calc(100%);
  }
}
