* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
  --primary: #ea8d55;
  --secondary: #1e1e1e;
  --accent1: #ffffff;
}

p {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: var(--accent1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "pulpo-rust-100", serif;
  font-weight: 400;
  font-style: normal;
}
