.subpage {
  background-color: var(--secondary);
  padding: 2rem;
  border-bottom: 1px solid var(--primary);
}

.subpagealbum {
  background-color: var(--secondary);
  border-bottom: 1px solid var(--primary);
}

.back {
  text-decoration: none;
  color: #6a5142;
  letter-spacing: 0.3rem;
  font-size: 0.9rem;
}

.backbutton {
  margin-bottom: 2rem;
}

.subpageheader {
  font-size: 3rem;
  color: #fff;
  max-width: 450px;
  margin: 0 auto;
}

.subpagesubtext {
  max-width: 450px;
  margin: 0 auto 3rem auto;
}

.subpagesubtext a {
  color: var(--primary);
}

.subpageh2 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: var(--primary);
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.quote {
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  line-height: 2.4rem;
  margin: 3rem 0;
}

ul li {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: var(--accent1);
  line-height: 1.7rem;
  letter-spacing: 0.05rem;
}

.imagegrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  font-style: italic;
  font-size: 0.9rem;
}

.lucasgrid_1_1 {
  font-size: 0.9rem;
  font-style: italic;
}

@media screen and (min-width: 880px) {
  .subpagegrid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
    padding: 0 3rem 0 3rem;
  }

  .lucasgrid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
    padding: 0 3rem 0 3rem;
    margin-top: 5rem;
  }

  .imagegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 0 3rem 0 3rem;
    grid-auto-rows: min-content;
    grid-auto-flow: dense;
    margin-bottom: 5rem;
  }

  .taperecorder {
    grid-column: 1 / span 2;
    width: 100%;
  }

  .computer {
    grid-column: 3 / span 1;
  }
}
